<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:object="${jobForm}" method="post">

        <div class="form-group">
            <label th:for="name">Name</label>
            <input th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span><!-- Complete! error message not appearing in form, review springMVC prep work 3.9 I think? -->
        </div>


        <div class="form-group">
            <label th:for="employerId">Employer</label>
            <select th:field="*{employerId}">
                <option th:each="employer : *{employers}"
                        th:value="${employer.id}"
                        th:text="${employer.value}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="locationId">Location</label>
            <select th:field="*{locationId}">
                <option th:each="location : *{locations}"
                        th:value="${location.id}"
                        th:text="${location.value}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="positionTypeId">Position Type</label>
            <select th:field="*{positionTypeId}">
                <option th:each="positionType : *{positionTypes}"
                        th:value="${positionType.id}"
                        th:text="${positionType.value}"></option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="coreCompetencyId">Core Competency</label>
            <select th:field="*{coreCompetencyId}">
                <option th:each="coreCompetency : *{coreCompetencies}"
                        th:value="${coreCompetency.id}"
                        th:text="${coreCompetency.value}"></option>
            </select>
        </div>

        <!-- Complete - Create <select> dropdowns for other job fields - reference prep work vids for an example - complete-->
        <!-- see code above, need to find a way to test -->

        <input type="submit" value="Add Job" />
    </form>

</div>

</body>
</html>